<h1>lista</h1>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de lectores</title>
</head>
<body>

    <h1>Listado de lectores</h1>

    <ul>
        {% for lector in listaLector %}
            <li>{{ lector.nombre }} {{ lector.apellidos }} - {{ lector.nacionalidad }} - Edad: {{ lector.edad }}</li>
        {% endfor %}
    </ul>

</body>
</html>