<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Autores</title>
</head>
<body>

    <p>
        <form method="GET">{% csrf_token %}
            <input type="text" name="kword" id="kword" placeholder="Ingrese nombre">
            <button type="submit">Consultar</button>

        </form>
    </p>

    <h1>Listado de Autores</h1>

    <ul>
        {% for autor in listaAutores %}
            <li>{{ autor.nombre }} {{ autor.apellidos }} - {{ autor.nacionalidad }} - Edad: {{ autor.edad }}</li>
        {% endfor %}
    </ul>

</body>
</html>